* {
    border-radius: 0 !important;
    font-size: 0.9rem !important;
    font-weight: 400 !important;
    outline: none !important;
    box-shadow: none !important;
}

.modal-dialog {
    box-shadow: 0 2px 5px 0.01px #C0C0C0 !important;
    width: 600px;
    max-width: 600px;;
}

.modal-header {
    background-color: #F0F0F0;
    padding: 6px 10px 6px 10px;
    border: 0px;
}

.modal-title {
    color: #323232;
}

.modal-body {
    padding: 14px;
    color: #323232;
    border: 0px;
}

.modal-footer {
    border-width: 1px 0px 0px 0px;
    border-color: #323232;
}

.btn-secondary {
    width: 75px;
    color: #808080;
    background: white;
    border-color: #808080;
}

.btn-secondary:hover {
    color: white;
    background: #808080;
    border-color: #808080;
}

.btn-secondary:focus, .btn-secondary:active {
    color: white;
    background: #808080;
    border-color: #808080;
}

.btn-primary {
    width: 75px;
    background: #323232;
    border-color: #323232;
}

.btn-primary:hover {
    background: #808080;
    border-color: #808080;
}

.btn-primary:focus, .btn-primary:active {
    background: #808080;
    border-color: #808080;
}

.form-control {
    display: flex;
    width: 100%;
}

.mb-0 {
    display: flex;
    width: 100%;
}

.form-control:focus, .form-control:active {
    border-color: #323232;
}

.form-check-input {
    border-radius: 50% !important;
}

.form-check-input:checked {
    background-color: #323232;
    border-color: #323232;
}

.form-select:focus, .form-select:active {
    border-color: #323232;
}